body{

font-family: 'B612', sans-serif;
background-color: transparent;


}

h1{

    font-size: 400%;
    border: thick double grey;
    margin: 0 0 10px;
    padding: 0 0 10px;
    position: relative;



}
h2{

  font-size:300%;
}


  p1{
      color:#ff0000 ; /* couleur de la police */
      background-color:transparent ; /* couleur du fond */
  }

.imghome{
  background: no-repeat url("IMG/Banniere.jpg");
  background-attachment:fixed;
  height: 1000px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sommaire{
      color: white ; /* couleur de la police */
      padding-left: 3%;
      font-size: 150%;

}


a:link {
 color: yellow;
 text-decoration: underline;
 }

a:hover {
 color: #0A1128;
 text-decoration: none;
}
a:active, a:focus {
 color: grey;
}

  p3{
      color:#000000 ; /* couleur de la police */
      text-align: center;
      list-style-position: inside;
  }

.background{

  background-color: grey;
}
#menu {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
  position: fixed ;
  right: 0 ;
  top: 5%;
  width:8em;
  margin-top: -2.5em;
}
#menu ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu li {
   background-color:#729EBF;
   background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
   background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
   border-radius: 6px;
   margin-bottom:2px;
   border:solid 1px black;
}
#menu li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em
}
#menu ul li a, #menu li:hover li a {
  font-size:1em
}
#menu li:hover {
   background: #729EBF
}
#menu li li:hover {
   background: #999;
}
#menu ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu li:hover li {
  max-height: 15em;
}
